@import "tailwindcss";

@theme {
  --breakpoint-md: 1025px;
}

@custom-variant tp (@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait));
@custom-variant sl (@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) and (min-height: 600px));
@custom-variant ml (@media (orientation: landscape) and (max-height: 500px));
@custom-variant mln (@media (orientation: landscape) and (max-height: 500px) and (max-width: 700px));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-jetbrains-mono);
  --font-inter: var(--font-inter-sans);
  --font-poppins: var(--font-poppins-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  overflow-x: clip;
}

body {
  background: var(--background);
  color: var(--foreground);
}